body {
  background-color: rgb(13,2,8);
  padding: 50px;
}
h1 {
  color: rgb(124, 133, 63)
   }

h2 {
    color:rgb(255, 255, 39);
    }

ul {
  color:rgb(169,169,169);
}    
p {
  color:rgb(255, 255, 255);
}

img {
  max-width: 30%;
  height: auto;
  display: block;
}


.left {
  background-color: rgb(24, 24, 24)
  color: rgb(0, 255, 65);
  float: left;
  width: 50%;
}

